<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Spring Framework Guru</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
    	<h1>Movies</h1>
    	<p>You viewed this page <span th:text="${pageViewCount}"></span> times.</p>
    	
    	<p th:if="${message != null}" th:text="${message}">Error message if exists</p>
    	
		<ul>
			<li th:each="movie : ${movieList}">
				<a th:href="@{/movies/{movieId}(movieId=${movie.id})}">
					Title: <th:block th:text="${movie.title}">movie title</th:block>
				</a>
				|
				Year: <th:block th:text="${movie.year}">1999</th:block>
				|
				<a th:href="@{'/movies/' + ${movie.id} + '/update' }">Edit</a>
				|
				<a th:href="@{/movies/{movieId}/update(movieId=${movie.id})}">Edit</a>
				|
				<a>TODO implement delete</a>
				
			</li>
		</ul>

		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log Out"/>
		</form>
		
		<div>
			<strong>Last shown</strong>
			<ol>
				<li th:each="movie : ${lastShownMovies}"><span th:text="${movie.title}"></span></li>
			</ol>
		</div>
    </body>
</html>



















