<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Spring Framework Guru</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
    	<h1>Create new Movie</h1>
		<form action="http://localhost:8080/basic-controller/movies/" method="post">
		  <input type="text" name="title" /> 
		  <br/>
		  <input type="number" name="year" /> 
		  <br/>
		  <input type="text" name="director" /> 
		  <br/>
		  <button>Submit</button>
		</form>
    </body>
</html>